body {
    background: url('https://images.unsplash.com/photo-1454789476662-53eb23ba5907?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ddd20323bd7b08a8b0e3d3cf6ee49423&auto=format&fit=crop&w=778&q=80') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body {
    text-align: center;
}

.commentsDisplay {
    background-color: azure;
}

input {
    border-radius: 50px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}